/* bootstrap */

.panel-body {
    height: 286px;
    .list-group {
        position: relative;
        margin: -15px;
        .list-group-item {
            border-left: none;
            border-right: none;
            &:first-child {
                border-top: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.glyphicon {
    top: 3px;
}

/* toastify */

.Toastify__toast-container {
    .Toastify__toast {
        border-radius: 4px;
        .Toastify__toast-body {
            margin-left: 10px;
            margin-right: 10px;
            .title {
                font-size: 1.2em;
                margin: 0.5rem 0;
            }
        }
        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2px 8px;
        }
    }
}

/**/

body {
    padding: 2rem;
}

a {
    cursor: pointer;
}

footer {
    color: #aaa;
    a {
        color: #aaa;
        font-weight: bold;
    }
}

.ui-loading {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: calc(100% - 32px);
    height: calc(100% - 63px);
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-left: -15px;
    &>div {
        flex: 1;
        text-align: center;
    }
}

.img-user {
    border-radius: 50%;
}

.panel-user {
    height: 329px;
    line-height: 1.8em;
    color: #888;
    background-color: #fefefe;
    .panel-body {
        text-align: center;

        .img-user {
            width: 80%;
            margin-bottom: 15px;
        }

        .placeholder-user {
            display: block;
            width: 200px;
            height: 200px;
            border: solid 5px #fefefe;
            border-radius: 50%;
            margin: 20px auto;
            padding: 20px 0;
            background-color: #aaa;

            &:hover {
                background-color: #337ab7;

                i {
                    color: #fefefe;
                    &::after {
                        color: #337ab7;
                    }
                }
            }

            i {
                font-size: 120px;
                color: #fefefe;

                &:after {
                    content: "?";    
                    position: absolute;
                    color: #aaa;   
                    left: 42px;
                    top: -10px;
                    font-size: 80px;
                }
            }
        }

        strong {
            display: block;
            font-size: 1.2em;
        }
        em {
            display: block;
            font-size: 0.75em;
            font-style: normal;
        }
    }
}